db-test/error_retry.json
[{"id":"b541eb07.3075d8","type":"catch","z":"8b634601.51d548","name":"","scope":["ba6bc695.5e7758"],"uncaught":false,"x":1270,"y":600,"wires":[["b6943eee.cebfd","ff004256.2f98c"]]},{"id":"988412fa.59d17","type":"delay","z":"8b634601.51d548","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1720,"y":720,"wires":[["ba6bc695.5e7758","1546f1e8.b923ae"]]},{"id":"b6943eee.cebfd","type":"switch","z":"8b634601.51d548","name":"error_skip","property":"error.message","propertyType":"msg","rules":[{"t":"regex","v":"^Error: Duplicate entry.*","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1500,"y":600,"wires":[["768fd7a7.bc83d8","981dd845.1941f8"],["f897fa82.7e7928"]]},{"id":"d896ccfe.479f7","type":"debug","z":"8b634601.51d548","name":"error_timeout","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1730,"y":800,"wires":[]},{"id":"f897fa82.7e7928","type":"change","z":"8b634601.51d548","name":"set_counter","rules":[{"t":"set","p":"counter","pt":"global","to":"$globalContext(\"counter\") +1\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":680,"wires":[["95a33bd8.7080c8"]]},{"id":"95a33bd8.7080c8","type":"switch","z":"8b634601.51d548","name":"","property":"$globalContext(\"counter\")\t","propertyType":"jsonata","rules":[{"t":"lte","v":"3","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1490,"y":740,"wires":[["988412fa.59d17"],["2d2c04be.9b86ec"]]},{"id":"2d2c04be.9b86ec","type":"function","z":"8b634601.51d548","name":"reset","func":"global.set(\"counter\",0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"// 部署節點後，此處的程式碼將運行一次。 \nglobal.set(\"counter\",0);","finalize":"","libs":[],"x":1490,"y":800,"wires":[["d896ccfe.479f7","981dd845.1941f8"]]},{"id":"768fd7a7.bc83d8","type":"debug","z":"8b634601.51d548","name":"error_skip","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1720,"y":600,"wires":[]},{"id":"ff004256.2f98c","type":"debug","z":"8b634601.51d548","name":"error_msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1310,"y":680,"wires":[]},{"id":"1546f1e8.b923ae","type":"debug","z":"8b634601.51d548","name":"error_retry","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1930,"y":720,"wires":[]}]
