db-test/flow.json
[{"id":"f031b39e.8797c","type":"Gravity Subscriber","z":"36ef97ec.f57888","name":"","server":"167d26ce.9241b9","domain":"default","product":"misrc","initialLoad":false,"delivery":"new","startseq":1,"manuallyAck":false,"x":130,"y":220,"wires":[["dce9c2b2.a5dce","c5bbbb93.1d45b8"]]},{"id":"dce9c2b2.a5dce","type":"debug","z":"36ef97ec.f57888","name":"Input","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":120,"wires":[]},{"id":"c5bbbb93.1d45b8","type":"switch","z":"36ef97ec.f57888","name":"","property":"payload.record.bdl_id","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":360,"y":220,"wires":[["41cc28d3.4d7f38"],["41cc28d3.4d7f38"],["2acfe10f.ad317e"]]},{"id":"41cc28d3.4d7f38","type":"switch","z":"36ef97ec.f57888","name":"checkEvent","property":"payload.eventName","propertyType":"msg","rules":[{"t":"eq","v":"misrcDelete","vt":"str"},{"t":"eq","v":"misrcCreate","vt":"str"},{"t":"eq","v":"misrcUpdate","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":570,"y":220,"wires":[["df7228fa.e20408"],["51d7f70c.faa818"],["fb08b0fc.1d5e5"],["10099f76.9d1201"]]},{"id":"2acfe10f.ad317e","type":"Gravity Acknowledge","z":"36ef97ec.f57888","name":"","x":600,"y":300,"wires":[]},{"id":"df7228fa.e20408","type":"change","z":"36ef97ec.f57888","name":"eventDelete","rules":[{"t":"set","p":"eventName","pt":"msg","to":"target_id13Delete","tot":"str"},{"t":"move","p":"payload.record","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":140,"wires":[["cf5e6021.a70fe"]]},{"id":"51d7f70c.faa818","type":"change","z":"36ef97ec.f57888","name":"eventCreate","rules":[{"t":"set","p":"eventName","pt":"msg","to":"target_id13Create","tot":"str"},{"t":"move","p":"payload.record","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":180,"wires":[["6b09b99.8b67748"]]},{"id":"fb08b0fc.1d5e5","type":"change","z":"36ef97ec.f57888","name":"eventUpdate","rules":[{"t":"set","p":"eventName","pt":"msg","to":"target_id13Update","tot":"str"},{"t":"move","p":"payload.record","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":220,"wires":[["6b09b99.8b67748"]]},{"id":"10099f76.9d1201","type":"change","z":"36ef97ec.f57888","name":"eventInitialize","rules":[{"t":"set","p":"eventName","pt":"msg","to":"target_id13Initialize","tot":"str"},{"t":"move","p":"payload.record","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":260,"wires":[["6b09b99.8b67748"]]},{"id":"cf5e6021.a70fe","type":"switch","z":"36ef97ec.f57888","name":"checkEvent","property":"eventName","propertyType":"msg","rules":[{"t":"eq","v":"target_id13Delete","vt":"str"},{"t":"eq","v":"target_id13Create","vt":"str"},{"t":"eq","v":"target_id13Initialize","vt":"str"},{"t":"eq","v":"target_id13Update","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1270,"y":220,"wires":[["17c1531d.abb35d"],["45178e5.787257"],["45178e5.787257"],["beeae067.0da21"]]},{"id":"42cc9b37.e51b54","type":"debug","z":"36ef97ec.f57888","name":"sql_cmd","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1780,"y":320,"wires":[]},{"id":"beb69c36.2a03f","type":"inject","z":"36ef97ec.f57888","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1350,"y":320,"wires":[["ee82f9af.0db358"]]},{"id":"ee82f9af.0db358","type":"function","z":"36ef97ec.f57888","name":" id13_query","func":"var sql1 = \"SELECT * FROM target_id13;\";\nvar obj = msg.payload;\n\n//var pk=obj['gravity_pk']\n//msg.topic=sql1+\" WHERE gravity_pk='\"+pk+\"';\";\n\nmsg.topic=sql1;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1530,"y":320,"wires":[["42cc9b37.e51b54","e1bae5b4.da79a8"]]},{"id":"45178e5.787257","type":"function","z":"36ef97ec.f57888","name":" id13_insert","func":"var sql1 = \"INSERT INTO target_id13 (\";\nvar sql2 = \") VALUE (\"\nvar obj = msg.payload;\nvar lastKey = Object.keys(obj).pop();\n\nfor(var key in obj) {\n    var value = obj[key];\n\n    switch (typeof value) {\n        case \"string\":\n            var parsedTime = Date.parse(value);\n            if (!isNaN(parsedTime)) {\n                value = value.replace(\"T\", \" \").replace(\"Z\", \"\")\n            }\n            if (value != 'null') {\n                sql1 = sql1 + key;\n                sql2 = sql2 + \"'\" + value.replace(\"'\",\"\") + \"'\";\n            } else {\n                sql1 = sql1 + key;\n                sql2 = sql2 + value;\n            }\n            \n            break;\n        case \"number\":\n            sql1 = sql1 + key ;\n            sql2 = sql2 + value ;\n            break;\n        default:\n            sql1 = sql1 + key;\n            sql2 = sql2  + value ;\n            break;\n    }\n    if (key != lastKey){\n        sql1=sql1 + \",\";\n        sql2=sql2 + \",\";\n        \n    }else {\n        sql2 =sql2 + \");\";\n    }\n    \n}\n//node.warn(sql1 + sql2);\nmsg.topic=sql1 + sql2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1530,"y":220,"wires":[["42cc9b37.e51b54","e1bae5b4.da79a8"]]},{"id":"17c1531d.abb35d","type":"function","z":"36ef97ec.f57888","name":" id13_delete","func":"var sql1 = \"DELETE FROM target_id13\";\nvar obj = msg.payload;\n\nvar pk=obj['gravity_pk']\nmsg.topic=sql1+\" WHERE gravity_pk='\"+pk+\"';\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1530,"y":180,"wires":[["42cc9b37.e51b54","e1bae5b4.da79a8"]]},{"id":"bf509049.b0902","type":"debug","z":"36ef97ec.f57888","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2010,"y":220,"wires":[]},{"id":"beeae067.0da21","type":"function","z":"36ef97ec.f57888","name":" id13_update","func":"var sql1 = \"UPDATE target_id13 SET \";\nvar obj = msg.payload;\nvar lastKey = Object.keys(obj).pop();\n\nfor(var key in obj) {\n    var value = obj[key];\n\n    switch (typeof value) {\n        case \"string\":\n            var parsedTime = Date.parse(value);\n            if (!isNaN(parsedTime)) {\n                value = value.replace(\"T\", \" \").replace(\"Z\", \"\")\n            }\n            if (value != 'null') {\n                sql1 = sql1 + key + \"='\" + value.replace(\"'\",\"\") + \"'\";\n            } else {\n                sql1 = sql1 + key + \"=\" + value;\n            }\n            \n            break;\n        case \"number\":\n            sql1 = sql1 + key + \"=\"  + value ;\n            break;\n        default:\n            sql1 = sql1 + key + \"=\" + value;\n            break;\n    }\n    if (sql1.slice(-1) != \",\" && key != lastKey){\n        sql1=sql1 + \",\";\n        \n    }\n    \n}\n\nif (sql1.slice(-1) === \",\") {\n    sql1 = sql1.slice(0,-1);\n}\n\nvar pk=obj['gravity_pk']\nmsg.topic=sql1+\" WHERE gravity_pk='\"+pk+\"';\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1530,"y":260,"wires":[["42cc9b37.e51b54","e1bae5b4.da79a8"]]},{"id":"6b09b99.8b67748","type":"change","z":"36ef97ec.f57888","name":"Logic","rules":[{"t":"set","p":"payload.bdl_in_dt","pt":"msg","to":"$substring(msg.payload.bdl_in_dtti, 0, 7)\t","tot":"jsonata"},{"t":"set","p":"payload.bdl_in_ti","pt":"msg","to":"$substring(msg.payload.bdl_in_dtti, 7, 6)\t","tot":"jsonata"},{"t":"set","p":"payload.bdl_in_dt_v","pt":"msg","to":"$substring(msg.payload.bdl_in_dtti_v, 0, 7)\t","tot":"jsonata"},{"t":"set","p":"payload.bdl_in_ti_v","pt":"msg","to":"$substring(msg.payload.bdl_in_dtti_v, 7, 6)\t","tot":"jsonata"},{"t":"set","p":"payload.dbl_bed","pt":"msg","to":"$substring(msg.payload.bdl_group, 0, 6)\t","tot":"jsonata"},{"t":"set","p":"payload.bdl_dpt","pt":"msg","to":"$substring(msg.payload.bdl_group, 6, 4)\t","tot":"jsonata"},{"t":"set","p":"payload.bdl_dr1","pt":"msg","to":"$substring(msg.payload.bdl_group, 10, 4)\t","tot":"jsonata"},{"t":"set","p":"payload.bdl_dr2","pt":"msg","to":"$substring(msg.payload.bdl_group, 14, 4)\t","tot":"jsonata"},{"t":"set","p":"payload.bdl_rd_dr","pt":"msg","to":"$substring(msg.payload.bdl_group, 18, 4)\t","tot":"jsonata"},{"t":"set","p":"payload.bdl_cla","pt":"msg","to":"$substring(msg.payload.bdl_group, 22, 4)","tot":"jsonata"},{"t":"set","p":"payload.bdl_old_bed","pt":"msg","to":"$substring(msg.payload.bdl_group, 26, 6)","tot":"jsonata"},{"t":"set","p":"payload.bdl_old_dpt","pt":"msg","to":"$substring(msg.payload.bdl_group, 32, 4)","tot":"jsonata"},{"t":"set","p":"payload.bdl_old_dr1","pt":"msg","to":"$substring(msg.payload.bdl_group, 36, 4)","tot":"jsonata"},{"t":"set","p":"payload.bdl_old_dr2","pt":"msg","to":"$substring(msg.payload.bdl_group, 40, 4)","tot":"jsonata"},{"t":"set","p":"payload.bdl_old_rd","pt":"msg","to":"$substring(msg.payload.bdl_group, 44, 4)","tot":"jsonata"},{"t":"set","p":"payload.bdl_old_cla","pt":"msg","to":"$substring(msg.payload.bdl_group, 48, 4)","tot":"jsonata"},{"t":"set","p":"payload.bdl_old_dt","pt":"msg","to":"$substring(msg.payload.bdl_group, 52, 7)","tot":"jsonata"},{"t":"set","p":"payload.bdl_old_time","pt":"msg","to":"$substring(msg.payload.bdl_group, 59, 6)","tot":"jsonata"},{"t":"set","p":"payload.bdl_upd_code","pt":"msg","to":"$substring(msg.payload.bdl_group, 65, 1)","tot":"jsonata"},{"t":"set","p":"payload.bdl_upd_dt","pt":"msg","to":"$substring(msg.payload.bdl_group, 66, 7)","tot":"jsonata"},{"t":"set","p":"payload.bdl_upd_ti","pt":"msg","to":"$substring(msg.payload.bdl_group, 73, 6)","tot":"jsonata"},{"t":"set","p":"payload.bdl_upd_uid","pt":"msg","to":"$substring(msg.payload.bdl_group, 79, 5)","tot":"jsonata"},{"t":"set","p":"payload.bdl_abn_uid","pt":"msg","to":"$substring(msg.payload.bdl_group, 84, 5)","tot":"jsonata"},{"t":"set","p":"payload.bdl_sel_grd","pt":"msg","to":"$substring(msg.payload.bdl_group, 89, 2)","tot":"jsonata"},{"t":"set","p":"payload.bdl_assist_uid","pt":"msg","to":"$substring(msg.payload.bdl_group, 91, 5)","tot":"jsonata"},{"t":"set","p":"payload.bdl_vir_mod_dt","pt":"msg","to":"$substring(msg.payload.bdl_group, 96, 7)","tot":"jsonata"},{"t":"set","p":"payload.bdl_vir_mod_t","pt":"msg","to":"$substring(msg.payload.bdl_group, 103, 6)","tot":"jsonata"},{"t":"set","p":"payload.bdl_vir_bed","pt":"msg","to":"$substring(msg.payload.bdl_group, 109, 6)","tot":"jsonata"},{"t":"set","p":"payload.bdl_vir_mod_uid","pt":"msg","to":"$substring(msg.payload.bdl_group, 115, 5)","tot":"jsonata"},{"t":"delete","p":"payload.bdl_group","pt":"msg"},{"t":"delete","p":"payload.bdl_in_dtti","pt":"msg"},{"t":"delete","p":"payload.bdl_in_dtti_v","pt":"msg"},{"t":"delete","p":"payload.bdl_chg_bed","pt":"msg"},{"t":"delete","p":"payload.dbl_bed","pt":"msg"},{"t":"delete","p":"payload.bdl_vir_mod_t","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":220,"wires":[["cf5e6021.a70fe"]]},{"id":"e1bae5b4.da79a8","type":"mysql","z":"36ef97ec.f57888","mydb":"30e10838.b77968","name":"","x":1810,"y":220,"wires":[["bf509049.b0902"]]},{"id":"167d26ce.9241b9","type":"Gravity Server","server":"lab-gravity-nats","port":"4222"},{"id":"30e10838.b77968","type":"MySQLdatabase","name":"target2_mysql","host":"${TARGET_DB_MYSQL_HOST}","port":"${TARGET_DB_MYSQL_PORT}","db":"${TARGET_DB_MYSQL_DB_NAME}","tz":"","charset":"UTF8"}]
